<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inklin.qrcodescanner">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Transparent">
        <activity
            android:name=".CameraActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog.NoTitle" />
        <activity
            android:name=".NavigateActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <service
            android:name=".CaptureService"
            android:enabled="true" />

        <activity
            android:name=".SplashActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".ShareActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".QuickTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:label="@string/pref_action_camera"
            android:name=".open.OpenCameraActivity"
            android:icon="@drawable/ic_tile"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="inklin.OpenCameraActivity" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/pref_action_screen"
            android:name=".open.OpenCaptureActivity"
            android:icon="@drawable/ic_tile"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="inklin.OpenCaptureActivity" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/pref_action_wechat"
            android:name=".open.OpenWechatActivity"
            android:icon="@drawable/ic_tile"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="inklin.OpenWechatActivity" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/pref_action_alipay"
            android:name=".open.OpenAlipayActivity"
            android:icon="@drawable/ic_tile"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="inklin.OpenAlipayActivity" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/pref_action_gallery"
            android:name=".open.OpenGalleryActivity"
            android:icon="@drawable/ic_tile"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="inklin.OpenGalleryActivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>